name: Flutter CI Build

on:
  push

jobs:
  build:
    permissions: write-all
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v2
        with:
          java-version: '17.x'
          distribution: 'zulu'
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
      - run: flutter pub get
      - run: flutter build apk --release --build-number ${{github.run_number}}
      - uses: softprops/action-gh-release@v1
        with:
          tag_name: "rel"
          files: |
            build/app/outputs/flutter-apk/app-release.apk